body{
    font-family: 'Noto Sans JP', sans-serif;
}
a{
    text-decoration: none;
}
img{
   width: 100%; 
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 0.2);
    top: 0;
}
.align-center{
    text-align: center;
}
.alert-wrapp{
    padding-top: 2em;
    padding-bottom: 2em;
}
.alert-border{
    border: 1px solid #cc0000;
    border-radius: 20px;
    display: inline-block;
    padding: 0.25em 1.5em;
    line-height: 1.7;
    color: #cc0000;
    font-size: 10pt;
}
.header-cover{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10em;
    padding-bottom: 13em;
    text-align: center;
}
.wrapp-caption{
    position: relative;
}
.box-caption .caption-item{
    display: inline-block;
    padding: 0.5em 1.5em;
    color: #fff;
}
.caption-left:after{
	content: '';
    display: block;
    position: absolute;
    right: -20px;
    top: 0;
    bottom: 0;
    width: 20px;
    height: 100%;
    background-image: url(../img/triangle.png);
    background-size: 100%;
}
.box-caption .caption-left{
    position: relative;
    background-color: #4aaf95;
    padding-right: 0.5em;
}
.box-caption .caption-right{
    background-color: #3d917b;
    padding-left: 2em;
}
.wrapp-caption .text-border{
    padding-bottom: 0.75em;
    font-size: 12pt;
    border-bottom: 3px solid #333;
    display: inline-block;
    margin-bottom: 1em;
}
.wrapp-caption .text-big{
    font-size: 40pt;
    margin-bottom: 0.3em;
    font-weight: 700;
}
.services{
    padding-top: 4em;
    padding-bottom: 4em;
}
.services-item{
    margin-bottom: 2em;
}
.service-img{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.service-img::before{
    content: "";
    padding-bottom: 100%;
    display: block;
}
.service-img img{
    position: absolute;
    width: auto;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}
.services .text-des{
    margin-top: 1em;
    line-height: 1.7;
}
.services .text-title{
    text-align: center;
    font-size: 16pt;
    font-weight: 700;
    line-height: 1.7;
}
.contact-us{
    background-color: #fafafa;
    text-align: center;
    padding-top: 5em;
    padding-bottom: 5em;
    position: relative;
}
.title-green{
    color: #3a927b;
    font-size: 20pt;
    font-weight: bold;
}
.container-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.col-flex{
    flex: 1;
    display: flex;
    align-items: center;     
    justify-content: center;
}
.section-title{
    margin-bottom: 3em;
    font-weight: 700;
}
.contact-us .col-flex{
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding:5em 0 5em 0;
    color: #fff;
}
.overlay-green{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background-color:rgb(58 146 123 / 0.5);
}
.contact-us p{
    margin-bottom: 0;
    line-height: 1.7;
}
.contact-us .contact-number{
    font-size: 30pt;
    text-decoration: none;
    color: #fff;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: normal;
}
.contact-us .text-detail{
    color: #fff;
    font-size: 18pt;
}
.contact-info{
    z-index: 1;
    font-weight: 700;
}
.btn-green{
    position: relative;
    background-color: #90b63e;
    display: inline-block;
    border-radius: 3px;
    color: #fff;
    padding: 0.7em 2.5em;
    box-shadow: 0px 10px 20px 0px rgba(130, 129, 129, 0.2);
    -moz-box-shadow: 0px 10px 20px 0px rgba(130, 129, 129, 0.2);
    -webkit-box-shadow: 0px 10px 20px 0px rgba(130, 129, 129, 0.2);
}
.btn-green:hover{
    background-color: #7fa233;
    color: #fff;
    transition: 0.4s;
}
.icon-arrow{
    position: absolute;
    left: 15pt;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10pt;
}
.about .table-info{
    background-color: #c8e7df;
    padding-top: 5em;
    padding-bottom: 5em;
}
.table-info .table{
    background-color: #fff;
    margin: 0;
    line-height: 1.7;
    color: #333333;
}
.table-info .table th{
    width: 25%;
    padding-left: 2em;
    color: #4aaf95;
    font-weight: bold;
    vertical-align: middle;
}
.table-info tr{
    border-color: #c8e7df;
}
.construction-flow{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5em;
    padding-bottom: 5em;
}
.flow-step{
    height: max-content;
    background-color: #fff;
    line-height: 1.7;
    letter-spacing: 0.3em;
    position: relative;
    padding-top: 1em;
    box-shadow: 0px 10px 20px 0px rgba(130, 129, 129, 0.5);
    -moz-box-shadow: 0px 10px 20px 0px rgba(130, 129, 129, 0.5);
    -webkit-box-shadow: 0px 10px 20px 0px rgba(130, 129, 129, 0.5);
}
.flow-step:not(:last-child){
    margin-right: 1.5em;
}
.flow-list{
    display: flex;
    z-index: 1;
    color: #4aaf95;
}
.col-centered{
    margin: auto;
}
.wrapp-flow{
    margin-bottom: 3em;
}
.flow-border-top{
    border-top:0.15em solid #fff;
    margin-bottom: 1em;
    position: relative;
}
.flow-step:last-child{
    height: auto;
}
.text-orientation{
    writing-mode: vertical-rl;
    display: inline-block;
    text-orientation: upright;
    margin-bottom: 0;
}
.text-orientation:before{
    content: "\f111";
    display: inline-block;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    font-size: 0.6em;
    padding-bottom: 1em;
}
.flow-list p{
    margin-bottom: 0;
}
.portfolio{
    padding-top: 5em;
    padding-bottom: 5em;
}
.portfolio .work-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.portfolio .work-img:after{
    content:"";
    display: block;
    padding-bottom: 75%;
}
.categories{
    color: #90b63e;
    font-weight: 700;
}
.work-detail{
    margin-top: 1em;
    font-size: 12pt;
    line-height: 1.7;
}
.work-detail .text-title{
    font-size: 18pt;
    color: #111;
    font-weight: 700;
}
.work-item{
    margin-bottom: 2em;
}
.news-update{
    padding-top: 5em;
    padding-bottom: 5em;
}
.news-update .news-item{
    line-height: 1.7;
    padding: 1em 0;
    color: #333;
}
.news-update .news-item:not(:last-child){
    border-bottom: 1px dotted #111;
}
.news-item .news-name{
    color: #333;
    font-weight: 400;
}
.news-item .news-name:hover{
    color: #90b63e;
    transition: 0.4s;
}
.news-update-list{
    margin-bottom: 3em;
}
footer{
    background-color: #20211f;
    padding-top: 5em;
    padding-bottom: 1em;
    color: #fff;
}
.copyright{
    text-align: center;
    font-size: 11pt;
    font-family:'YuGo-Medium';
}
.logo-footer{
    max-width: 180px;
}
.footer-menu-list{
    display: -ms-flexbox;           
    display: -webkit-flex;         
    display: flex;
    -webkit-flex-flow: wrap column; 
    flex-flow: wrap column;
    max-height: 170px;   
    padding-left: 0;
    margin-bottom: 3em;
}
.footer-menu-list li a{
    display: inline-block;
    font-size: 10pt;
    margin-bottom: 1em;
    color: #fff;
}
.footer-menu-list li{
    list-style: none;
}
.footer-menu-list li:before{
    content: "\f105";
    display: inline-block;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    vertical-align: super;
    padding-right: 1em;
}
.footer-menu-list li span{
    display: block;
}
.social-contact a{
    color:#fff;
}
.social-item{
    margin-bottom: 0.5em;
}
.social-contact{
    margin-top: 1.5em;
}

/* CONTACT PAGE */
.header-cover-title{
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 6em;
    padding-bottom: 6em;
    text-align: center;
}
.header-cover-title .text-title{
    position: relative;
    font-size: 30pt;
    color: #fff;
    font-weight: 700;
    text-shadow: 0px 1px 7px rgb(0 0 0 / 0.5);
}
.wrapp-contact{
    text-align: center;
    color: #555555;
    padding-top: 2em;
    padding-bottom: 2em;
}
.wrapp-contact .alert {
    margin: 30px 0;
}
.wrapp-contact-detail{
    background-color: #f5f8f5;
    display:inline-block;
    padding: 1em 2em;
    margin-top: 1em;
}
.wrapp-contact-detail .text-bussiness-open{
    font-weight: 700;
}
.wrapp-contact-detail .phone-link{
    padding-bottom: 0;
}
.wrapp-contact-detail .phone-link, 
.wrapp-contact-detail .phone-link a{
    color: #4aaf95;
    font-size: 20pt;
}
.col-form-label {
    display: flex;
	align-items: flex-start;
    justify-content: space-between;
    text-align: left;
}


.col-form-label .req{
	display: inline-block;
    text-align: left;
    color: #fff;
    line-height: 1.7;
    font-size: 7pt;
    padding: 0 3px;
	margin: 5px 3px 0 0;
    background-color: #cc0000;
}
.contact-form{
    padding-top: 4em;
    padding-bottom: 4em;
}
.contact-form .form-control,
.contact-form .form-select{
    background-color: #f9faf9;
    border-radius: .2rem;
    border: 1px solid #cccccc;
    line-height: 1.7;
}
.contact-form .input-group{
    margin: 0;
    margin-bottom: 2em;
}
.custom-upload-box{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
}
.custom-upload-box .btn-upload{
    position: absolute;
    top: 0;
    left: -9999px;
}
.custom-upload-box .custom-upload{
    padding: 0.3em 0.7em;
    border-radius: .2rem;
    border: 1px solid #cccccc;
    margin: 0 1em 0 0;
}
.custom-upload-box span{
    font-size: 12pt;
    line-height: 1.7;
}
.contact-form textarea{
    width: 100%;
    height: 180px;
    border-radius: .2rem;
    border: 1px solid #cccccc;
    line-height: 1.7;
    margin-top: 7px;
}
.contact-form input:focus,
.contact-form .form-select:focus,
.contact-form textarea:focus{
    transition: 0.3s;
    border-color:#4aaf95;
    box-shadow: 0px 0px 10px 0rem #19875421;
}
.textarea-req{
    align-self: baseline;
    margin-top: 11.61px;
}
.check-req{
    align-self: baseline;
    margin-top: 0.5em;
}
.contact-form  .form-check-input[type=checkbox] {
    border-radius: 0;
    border: 1px solid #cccccc;
}
.contact-form .form-check{
    text-align: left;
    margin-bottom: 1em;
    margin-top: 7px;
}
.contact-form .check-group .col-form-label{
    
}
.btn-submit{
    position: relative;
    background-color: #90b63e;
    font-size: 14pt;
    color: #fff;
    border: none;
    padding: 0.7em 3em;
    box-shadow: 0px 10px 20px 0px rgba(130, 129, 129, 0.2);
    -moz-box-shadow: 0px 10px 20px 0px rgba(130, 129, 129, 0.2);
    -webkit-box-shadow: 0px 10px 20px 0px rgba(130, 129, 129, 0.2);
}
.btn-submit .icon-arrow{
    right: 15pt;
    left: unset;
}
.wrapp-contact .text-des{
    font-size: 18pt;
    font-weight: 700;
}
.form-check-label a{
    text-decoration: none;
    border-bottom: 1px solid #0091ed;
    color: #0091ed;
}
/* PRIVACY PAGE */
.privacy-title-bg{
    background-color: #4aaf95;
    color: #fff;
    padding: 15px;
}
.privacy-title-bg h2{
    margin-bottom: 0;
    line-height: 1.7;
    font-size: 16pt;
    font-weight: 700;
}
.text-green-border{
    color: #4aaf95;
    border-bottom: 3px solid #4aaf95;
    margin-bottom: 1em;
    padding-bottom: 1em;
}
.text-green-border .text-title{
    font-size: 14pt;
    font-weight: bold;
}
.privacy-item p{
    line-height: 1.7;
    font-size: 11pt;
}
.privacy-item .text-title{
    margin-bottom: 0;
    font-weight: 700;
}
.privacy-item{
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 3em;
    margin-top: 2em;
}
.img-icon{
    display: inline-block;
    width: 20px;
}
.link-icon-info{
    vertical-align: middle;
    font-style: normal;
    font-weight: 500;
    font-family: 'Noto Sans JP', sans-serif;
}
.footer-menu-list .lang-eng{
    font-weight: 500;
    font-size: 9pt;
}
.group-title{
    overflow: hidden;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 2em;
}
.group-tilte-icon{
    position:relative;
}
.group-tilte-icon::before{
    position: absolute;
    top: 0;
    content: "";
    display: block;
    right: 100%;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/green-circle.png);
    background-size: auto 70%;
    background-repeat: no-repeat;
    background-position: top right;
    z-index: 1;
}
.group-tilte-icon:after{
    position: absolute;
    top: 0;
    content: "";
    display: block;
    left:100%;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/green-circle-right.png);
    background-size: auto 70%;
    background-repeat: no-repeat;
    background-position: bottom left;
}
.title-white .group-tilte-icon:before{
    background-image: url(../img/white-circle.png);
}
.title-white .group-tilte-icon:after{
    background-image: url(../img/white-circle-right.png);
}
.text-title-jp{
    line-height: 1;
    padding: 0 0.3em;
    font-weight: 500;
    font-size: 26pt;
    text-align: center;
}
.text-title-eng{
    font-size: 12pt;
    text-align: center;
    line-height: 1.5;
    position: relative;
}
.title-white{
    color: #fff;
}
.btn-more-detail{
    background-color: rgb(58 146 123 / 0.6);
    border: 1px solid #fff;
    color: #fff;
}
.btn-more-detail:hover{
    background-color: transparent;
}
.about .about-box-full{
    padding: 0;
    position: relative;
    overflow: hidden;
}
.about .about-box{
    align-self: center;
    padding: 2em;
    padding-left: 0;
    min-width: 200px;
}
.about-box .text-des{
    line-height: 1.7;
    padding-bottom: 2em;
}
.about-box-full img{
    max-height: 400px;
    width: auto;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}
.privacy-info p{
    margin-bottom: 0.5em;
    line-height: 1.7;
}
.section-thanks {
    padding: 100px 0;
    text-align: center;
}


@media screen and (max-width: 1399px) {
    .contact-us .col-flex{
        max-width: 575px;
    }
  }
@media screen and (max-width: 991px) {
    .about .about-box {
        padding-right: calc(var(--bs-gutter-x)/ 2);
        padding-left: calc(var(--bs-gutter-x)/ 2);
    }
}
@media screen and (max-width: 767px) {
    .req{
        justify-content: flex-end;
        order: 2;
    }
    .contact-form .form-control,
    .contact-form .form-select,
    .contact-form textarea{
        margin-bottom: 0.75em;
    }
    .custom-upload-box{
        margin-left: 0;
    }
    .textarea-req{
        margin-top: 0;
    }
    .footer-left{
        text-align: center;
        margin-bottom: 2em;
    }
    .social-contact{
        display: flex;
        justify-content: space-evenly;
    }
    .contact-us .contact-number{
        font-size: 20pt;
    }
    .contact-us .text-detail{
        font-size: 14pt;
    }
    .contact-us .col-flex{
        padding: 3em 0 3em 0;
    }
    .contact-us .title-green{
        font-size: 16pt;
    }
    .contact-us p{
        font-size: 10pt;
    }
}
@media screen and (max-width: 767px) {
    .flow-list{
        display: flex;
        flex-direction: column;
    }
    .flow-step:not(:last-child){
        margin-right: 0;
    }
    .flow-step {
        padding: 0.5em 1em;
        margin-bottom: 1em;
    }
    .text-orientation{
        writing-mode: unset;
    }
    .flow-border-top{
        display: none;
    }
    .text-orientation:before{
        padding-bottom: 0;
        vertical-align: middle;
        padding-right: 0.5em;
    }
}
@media screen and (max-width: 576px) {
    .wrapp-caption .text-border {
        font-size: 9pt;
    }
    .wrapp-caption .text-big {
        font-size: 32pt;
    }
    .table-info .table th{
        width: 30%;
        font-size: 11pt;
        padding-left: 1em;
    }
    .contact-form .input-group{
        margin-bottom: 1em;
    }
    .contact-form .col-form-label {
        justify-content: flex-start;
    }
    .col-form-label .req {
        margin-left: 10px;
    }
    .contact-form .check-group .col-form-label{
        padding-top: calc(.375rem + 1px);
    }
    .footer-menu-list{
        max-height: 250px;
    }
    .contact-us .container-flex{
        flex-direction: column;
    }
    .contact-us .col-flex{
        min-height: 180px;
        margin: 0;
        margin-bottom: 1em;
    }
    .contact-us{
        padding-bottom: 4em;
    }
    .btn-green{
        font-size: 10pt;
    }
    .icon-arrow{
        font-size: 8pt;
        left: 10pt;
    }
}